/** L Poeppel **/

/** Global **/
		html, body{
			height: 100%;
			font: 15px/1.5 Arial, Helvectia, sans-serif;
			width: 100%;
			overflow: hidden;
		}

		*{
			margin: 0;
			padding: 0;
		}
		.container{
			height: 100%;
			overflow: hidden;
		}
		div{
			overflow: hidden;
		}
		a{
			color:inherit;
			text-decoration: none;
		}
		a:hover{
			font-weight: bold;
		}

/** Header **/
		header{
				height: 14vh;
				color: #ffffff;
				text-decoration: none;
				border-bottom: 1vh solid;
				border-color: #e8421d;
				background-image: linear-gradient(to bottom right, #142ca3, #029de8);
		}
		/*Abstand "Titel" und Hyperlinks*/
		header .container{
				display: flex;
				justify-content: space-evenly;
				align-items: center;
		}
		/*Hyperlinks oben rechts*/
		header nav ul{
				display: inline-flex;
		}
		header nav ul li{
				padding: 1vh;
				list-style: none;
		}
		header a:hover{
				font-weight: bold;
				color: #cccccc;
		}
		#branding a:hover{
				font-weight: bold;
				color:  #fa643f;
		}

/** Section: showcase **/
		#showcase{
				background-color: #ffffff;
				background: url('../images/showcase.jpg') no-repeat 0 -110vh;
				color: #ffffff;
				height: 45vh;
				text-align: center;
		}

/** Section: login **/
		#login{
				background-image: linear-gradient(to bottom right, #142ca3, #029de8);
				height: 15vh;
				color: #ffffff;
		}
		#login .container{
				display: flex;
	  		align-items: center;
	  		justify-content: center;
	  		text-align: center;
		}
		#loginText{
				padding-top: 1vh;
				padding-bottom: 1vh;
				display: flex;
		}
		#login input[type="username"], input[type="password"]{
   			height: 30px;
  			width: 250px;
  			margin-left: 10px;
				font-size: 18.5px;
  		}
		#login_button{
				height: 34px;
				background: #f9532e;
				padding-left: 20px;
				padding-right:20px;
				color:#ffffff;
				border: 2vh;
				margin-left: 10px;
		}

/** Section: content **/
		#content{
				height: 20vh;
				background-color: #ffffff;
		}
		#content .container{
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;
		}


/** Footer **/
		footer{
				height: 5vh;
				width: 100%;
				background-color: #e8421d;
				display: flex;
				justify-content: center;
				align-items: center;
				color: #ffffff;
		}

/*****************/
		#boxes .box{
				height: 100%;
				background-color: #ffffff;
				display: flex;
				flex-direction: column;
				justify-content: center;
		}
